/* ============ DESKTOP  ==========*/
body {
  color: inherit;
  font-size: 62.5%;
  font-family: inherit;
  position: relative;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-size: inherit;
}
.page-wrapper {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}
.page-wrapper > header {
  align-items: flex-end;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px dotted rgb(204, 204, 204);
  display: flex;
  max-width: 900px;
  position: fixed;
  top: 0;
  transition: height 500ms;
  width: 100%;
  z-index: 3;
}
.page-wrapper > header h1 {
  color: rgb(107, 107, 107);
  flex: 1.5;
  font-family: 'Raleway Dots', cursive;
  font-size: 6rem;
  font-weight: normal;
  margin: 0 0 -.8rem 0;
  transition: font-size 500ms;
}
.page-wrapper > header h1 span {
  display: inline-block;
}
.page-wrapper > header h1 span::first-letter {
  color: rgb(252, 107, 4);
}
.page-wrapper > header ul,
.page-wrapper > footer ul {
  list-style: none;
}
.page-wrapper > header li,
.page-wrapper > footer li {
  display: inline-block;
}
.page-wrapper > header nav,
.page-wrapper footer nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.page-wrapper > header nav a,
.page-wrapper footer nav a {
  color: rgb(85, 85, 85);
  display: inline-block;
  font-family: 'Pompiere', cursive;
  font-size: 3rem;
  padding: 0 .3rem;
  text-decoration: none;
  transition: background 500ms;
}
.page-wrapper > header nav li:nth-of-type(1).active,
.page-wrapper footer nav li:nth-of-type(1).active {
  border-bottom: 3px solid rgb(252, 107, 4);
}
.page-wrapper > header nav li:nth-of-type(2).active,
.page-wrapper footer nav li:nth-of-type(2).active {
  border-bottom: 3px solid rgb(252, 183, 4);
}
.page-wrapper > header nav li:nth-of-type(3).active,
.page-wrapper footer nav li:nth-of-type(3).active {
  border-bottom: 3px solid rgb(150, 199, 105);
}
.page-wrapper > header nav li:nth-of-type(1) a::first-letter,
.page-wrapper > header nav li:nth-of-type(2) a::first-letter,
.page-wrapper > header nav li:nth-of-type(3) a::first-letter,
.page-wrapper footer nav li:nth-of-type(1) a::first-letter,
.page-wrapper footer nav li:nth-of-type(2) a::first-letter,
.page-wrapper footer nav li:nth-of-type(3) a::first-letter {
  font-weight: bold;
}
.page-wrapper > header nav li:nth-of-type(1) a::first-letter,
.page-wrapper footer nav li:nth-of-type(1) a::first-letter {
  color: rgb(252, 107, 4);
}
.page-wrapper > header nav li:nth-of-type(2) a::first-letter,
.page-wrapper footer nav li:nth-of-type(2) a::first-letter {
  color: rgb(252, 183, 4);
}
.page-wrapper > header nav li:nth-of-type(3) a::first-letter,
.page-wrapper footer nav li:nth-of-type(3) a::first-letter {
  color: rgb(150, 199, 105);
}
.page-wrapper > header nav a {
  transition: line-height 500ms;
}
/* When page scrolled, header gets narrow */
.page-wrapper > header.narrow {
  height: 4rem;
}
.page-wrapper > header.narrow h1 {
  font-size: 4rem;
}
.page-wrapper > header.narrow nav a {
  line-height: 70%
}

main section {
  display: flex;
  min-height: 20rem;
  overflow: hidden;
  padding: 0 0 4rem;
  position: relative;
}
main section.resume:after,
main section.bio:after,
main section.contact:after {
  color: rgb(245, 245, 245);
  bottom: 2rem;
  font-family: 'Pompiere', cursive;
  font-size: 10rem;
  font-weight: bold;
  position: absolute;
  right: 0;
}

main section.resume:after {
  content: "resume";
}
main section.bio:after {
  content: "bio";
}
main section.contact:after {
  content: "contact";
}
main section header {
  overflow: hidden;
  padding-top: 1rem;
  width: 5rem;
}
main section:nth-of-type(1){
  margin-top: 8rem; /*Extra space for header*/
}
main section:nth-of-type(1) header {
  background-color: rgb(252, 107, 4);
}
main section:nth-of-type(2) header {
  background-color: rgb(252, 183, 4);
}
main section:nth-of-type(3) header {
  background-color: rgb(150, 199, 105);
}
main section header h2 {
  color: rgb(255, 255, 255);
  font-family: 'Pompiere', cursive;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  transform: rotate(90deg);
}
main article {
  border: 3px solid rgb(238, 238, 238);
  margin-left: 0.5rem;
  padding: 1rem 2rem 5rem 2rem;
  width: calc(100% - 5rem);
}
main section:nth-of-type(1) article {
  border-left-color: rgb(252, 107, 4);
}
main section:nth-of-type(2) article {
  border-left-color: rgb(252, 183, 4);
}
main section:nth-of-type(3) article {
  border-left-color: rgb(150, 199, 105);
}
main article a,
main article p {
  color: #777;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 0 .5rem;
}
main article a{
  text-decoration: none;
}
main article h2,
main article h3 {
  font-family: Arimo, sans-serif;
  color: #777;
  margin: 0 0 1rem 0;
}
main article h2{
  font-size: 2.2rem;
}
main article .experience > h2{
  color: #FC6B04;
}
main article h3{
  font-size: 1.8rem;
}

/* ========== barchart ========== */
#chart-skills .v-guide text,
#chart-skills .h-guide text {
  color: #AAA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
#chart-skills rect {
  transition: opacity 200ms;
}
#chart-skills rect:hover {
  opacity: .5;
}
#chart-skills text.x.label {
  font-family: sans-serif;
  font-size: 0.7rem;
}
/* ========== bubble chart ========== */

#chart-buzzwords {
  align-items: center;
  display: flex;
}
#chart-buzzwords text {
  font: 10px sans-serif;
}
#chart-buzzwords g.node {
  transition: opacity 200ms;
}
#chart-buzzwords g.node:hover {
  cursor: default;
  opacity: .5;
}
#chart-buzzwords .buzzword {
  color: #777;
  font-family: tahoma, Arial, sans-serif;
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  width: calc(100% - 400px);
}

/* ========== barchart && bubble chart ========== */
#chart-skills,
#chart-buzzwords {
  border: 2px solid #EEE;
  border-radius: .3rem;
  margin-bottom: 2rem;
}

/* ========== experience timeline ========== */
.experience > div {
  border: 2px solid #EEE;
  border-radius: .3rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.experience > div p.time.end,
.experience > div p.time.start {
  background: #FCB704;
  border-radius: .3rem;
  color: #FFF;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: -2.5rem;
  padding: 0.6rem;
}
.experience > div p.detail {
  margin-left: 1rem;
}
.experience > div p.detail:before {
  content: "\2022  ";
  color: #FC6B04;
}
.experience > div p.more {
  margin-left: 2rem;
}
.experience > div p.more:before {
  content: "- ";
  color: #FC6B04;
}
/* ========== bio page ========== */
.bio article {
  display: flex;
}
.bio .text {
  width: 70%;
}
.bio .image {
  width: 30%;
}
.bio img {
  border: 3px solid rgb(252, 183, 4);
  border-radius: 50%;
  width: 100%;
}
/* ========== contact page ========== */
.contact article {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.contact .linkedin,
.contact .github {
  background-repeat: no-repeat;
  display: flex;
  border: 2px solid rgb(150, 199, 105);
  border-radius: 50%;
  display: flex;
  font-size: 2.3rem;
  height: 20rem;
  justify-content: center;
  margin: 0 1rem;
  padding: 3rem;
  text-align: center;
  transition: background-color 300ms, color 300ms, opacity 300ms;
  width: 20rem;
}
.contact .linkedin {
  background-image: url(../img/linkedin.png);
  background-position: center 13rem;
  background-size: 30%;
}
.contact .github {
  background-image: url(../img/octocat.png);
  background-position: bottom;
  background-size: 50%;
  line-height: 95%;
}
.contact .linkedin:hover,
.contact .github:hover {
  background-color: rgb(150, 199, 105);
  color: #FFF;
  opacity: .5;
}

/* ========== footer and download ========== */

footer {
  border-top: 2px dotted rgb(204, 204, 204);
}

.download {
  align-items: center;
  background-image: url(../img/download-gray.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 88%;
  background-color: #FC6B04;
  border-radius: 50%;
  bottom: 1rem;
  color: #FFF;
  font-family: tahoma, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  height: 10rem;
  opacity: .6;
  right: 1rem;
  padding: 1rem;
  position: fixed;
  text-align: center;
  text-decoration: none;
  transition: opacity 300ms;
  width: 10rem;
  z-index: 10;
}
.download:hover {
  opacity: 1;
}

.tooltip{
  background: #FFF;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px;
  position: absolute;
}
