<!doctype html>
<html lang="en" ng-app="portfolio" ng-controller="MyController">
<head>
  <meta charset="UTF-8">
  <title>Miwa Yagi</title>
  <link href='http://fonts.googleapis.com/css?family=Pompiere|Raleway+Dots|Arimo|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body class="expand">

  <header role="banner">
  <a href="#" class="headers">
    <img class="logo" src="images/logo.svg" alt="Miwa Yagi logo">
    <div>
      <h1>Miwa Yagi</h1>
      <h2 class="job-title">Design Technologist</h2>
    </div>
  </a>
</header>  

<div class="page-wrapper">
  <section class="content">
    <main role="main">
      <section class="page styleguide">
        <div class="col">
            <!-- <h3>color</h3> -->
  <div class="container">
    <h3>color</h3>

    <div class="pallet">
      <div class="swatch" style="border-color:#F74646">$red - #F74646</div>
      <div class="swatch" style="border-color:#36DADE;">$aqua - #36DADE</div>
       
      <div class="swatch" style="border-color:rgba(20,20,20,0.9)">$overlayBlk - rgba(20,20,20,0.9) - translucent overlay</div>
      <div class="swatch" style="border-color:#333">$text - #333 - p, li</div>
      <div class="swatch" style="border-color:#808080">$gray-80 - #808080</div>
      <div class="swatch" style="border-color:#aaa">$gray-a - #aaa</div>
      <div class="swatch" style="border-color:#eaeaea">$gray-ea: #eaeaea</div>
      <div class="swatch" style="border-color:#fff">$white - #fff</div>
    </div>
  </div>

    
  <div class="container">
      <h3>keyword</h3>

      <p class="skill">
        <span class="keyword">keyword 1</span>
        <span class="keyword">keyword 2</span>
        <span class="keyword">keyword 3</span>
      </p>
  </div>

  <div class="container">
    
      <h3>resource</h3>
    
  

  <p><a href="http://classic.getemoji.com/">emoji</a></p>
  <p><a href="http://fortawesome.github.io/Font-Awesome/">icons</a></p>
  <p><a href="http://www.cssmatic.com/">CSS gradient generator</a></p>
  <p><a href=""></a></p>
  </div>
</div>


  <div class="col">
    <h3>fonts</h3>
<!--     <div class="fonts">
      <p class="noto">The quick brown fox jumps over the lazy dog</p>
      <p class="poppins">The quick brown fox jumps over the lazy dog</p>
      <p class="imprima">The quick brown fox jumps over the lazy dog</p>
      <p class="orienta">The quick brown fox jumps over the lazy dog</p>
      <p class="hind">The quick brown fox jumps over the lazy dog</p>
      <p class="tenali">The quick brown fox jumps over the lazy dog</p>
      <p class="roboto">The quick brown fox jumps over the lazy dog</p>
    </div> --> 
    <!-- ng-repeat="item in frontend">{{ item }} -->
    <div class="fonts">
      <p ng-repeat="item in fonts" class="{{ item }}"><span>{{ item }} : </span>The quick brown fox jumps...</p>
    </div>

  </div>


</section>
</main>
</section>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script> 
  <script src="js/controllers.js"></script>
  <script src="js/script.js"></script>
</body>
</html>