.page-wrapper {
  /*border: 1px solid #F00;*/
  margin: 0;
  position: absolute;
  width: calc(100vw - 20px);
  min-height: calc(100vh - 20px);
  background-color: #fff;
  background: radial-gradient(ellipse at center,  
    rgba(255,255,255,1) 80%,
    rgba(255,255,255,0) 100%);
}

.content {
  margin: 0 auto 5rem;
  min-height: 100vh;
}

.headers,
.content {
  margin: 0 auto;
  max-width: 100rem; 

}

header {
  margin-bottom: 5rem;
  position: relative;
}

nav {
  width: 16rem;
  display: inline-block;
}
 
nav ul {
  list-style: none;
  padding: 0;
}

nav ul a {
  color: gray;
  display: inline-block;
  font-size: 2.2rem;
  text-decoration: none;
  width: 100%;

  border: 2px solid #808080;
  border-right-width: 24px;
  border-radius: 28px;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: right;
}

nav ul a:hover,
nav ul a:focus {
  background-color: #ddd;
  outline: none; // There is a focus state for tab navigation!
}

main {
  display: inline-block;
  float: right;
  position: relative;
  width: 72%;
}

main > section {
  background-color: #eee;
  border: 5px solid #ccc;
  border-radius: 100%;
  display: inline-block;
  height: 45rem; 
  padding: 3rem;
  position: absolute;
  overflow: hidden;
  // text-align: center;
  width: 45rem;
}

$i: 0;
@while $i < 4 {
  main section:nth-of-type(#{$i+1}){
    left: 10rem * $i;
    z-index: 10 - $i;
  }
  $i: $i +1;
}

h1 {
  color: #333;
  font-family: 'Raleway Dots', cursive;
  font-size: 80px;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

.job-title {
  color: #aaa;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.logo {
  width: 7rem;
  display: inline-block;
  top: 1rem;
  position: relative;
}

// ====================== 
// main
// ======================

h3 {
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
}

p {
  color: gray;
  font-size: 1.6rem;
}

.keyword {
  background: #808080;
  border-radius: 1rem;
  color: #fff;
  padding: .5rem 1rem;
  margin-right: .3rem;
}

.section-title {
  background-color: gray;
  border-radius: 20px;
  color: #fff;
  padding: 1rem 2rem;
}

// ====================== 
// experience
// ======================

.experience {
  h4 {
    font-size: 2rem;
    font-weight: 100;
    margin: 0 1rem;
  }

  .time,
  h4 {
    display: inline-block;
  }

  .time {
    background-color: #fff;
    border-radius: 12px;
    margin: 0;
    padding: .5rem;
  }


  .container {
    margin-bottom: 5rem;
  }

  .container > p{
    margin-left: 2rem;
  }

  .container li {
    color: gray;
    font-size: 1.4rem;
    line-height: 1.5;
  }

}