  // header[role=banner] {
  //   align-items: center;
  //   display: flex;
  //   height: 70px;
  //   position: fixed;
  //   text-align: center;
  //   top: 0;
  // }

  // header[role=banner]:after {
  //   background: linear-gradient(to bottom, 
  //     rgba(200,200,200,1) 0%, 
  //     rgba(255,255,255,0) 100%);
  //   bottom: -5px;
  //   content: "";
  //   display: block;
  //   height: 5px;
  //   position: absolute;
  //   width: 100%;
  // }

  // .headers { 
  //   height: auto;
  //   margin: 0 auto;
  //   text-decoration: none;
  //   width: 61rem;
  // }

  // .headers div {
  //   display: inline-block;
  // }

  // .headers div > * {
  //   display: inline-block;
  //   margin-left: 1rem;
  // }

  // .logo {    
  //   display: inline-block;
  //   margin-bottom: -.6rem;
  //   width: 5rem;
  // }

  // h1 {
  //   font-size: 5.5rem;
  // }

  // .job-title {
  //   font-size: 3rem;
  // }


// ====================== 
// button.menu
// ======================
  button.menu {
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    left: 1rem;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  button.menu:hover,
  button.menu:focus {
    outline: none;
  }

  button.menu i {
    color: $gray-80;
    font-size: 5rem;
    transform: rotate(0);
    transition: color .3s, transform .3s;
  }  

  button.menu:hover i,
  button.menu:focus i {
    color: $red;
    transform: rotate(90deg);
    transition: color .3s, transform .3s;
  }


// ====================== 
// main
// ======================

  .page {
    margin: 0 auto 12rem;
    max-width: 1270px;
    // min-height: 100vh;  
    padding-top: 7rem; 
    width: 100vw;
  }
  .page:after {
    clear: both;
    content: "";
    display: table;
  }
