// ====================== 
// expand - not index page
// ======================
//body.expand { 

// ====================== 
// header banner
// ======================

  header[role=banner] {
    align-items: center;
    display: flex;
    height: 70px;
    position: fixed;
    text-align: center;
    top: 0;
  }

  header[role=banner]:after {
    background: linear-gradient(to bottom, 
      rgba(200,200,200,1) 0%, 
      rgba(255,255,255,0) 100%);
    bottom: -5px;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
  }

  .headers { 
    height: auto;
    margin: 0 auto;
    text-decoration: none;
    width: 61rem;
  }

  .headers div {
    display: inline-block;
  }

  .headers div > * {
    display: inline-block;
    margin-left: 1rem;
  }

  .logo {    
    display: inline-block;
    margin-bottom: -.6rem;
    width: 5rem;
  }

  h1 {
    font-size: 5.5rem;
  }

  .job-title {
    font-size: 3rem;
  }


// ====================== 
// button.menu
// ======================
  button.menu {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #808080;
    border-radius: 5px;
    color: #808080;
    cursor: pointer;
    display: inline-block;
    font-size: 3rem;
    height: 5rem;
    left: 1rem;
    position: fixed;
    top: 1rem;
    transition: color .3s;
    width: 5rem;
    z-index: 100;
  }

  button.menu:hover,
  button.menu:focus {
    outline: none;
    transform: rotate(90deg);
    transition: color .3s;
  }

  button.menu:hover i,
  button.menu:focus i {
    color: $red;
    transition: color .3s;
  }


// ====================== 
// main
// ======================

  .page {
    margin: 0 auto 12rem;
    max-width: 1270px;
    // min-height: 100vh;  
    padding-top: 12rem; 
    width: 100vw;
  }
  .page:after {
    clear: both;
    content: "";
    display: table;
  }
//}

// body.expand.experience { 
//   .page.experience {
//     display: block;
//   }
//   .page:not(.experience){
//     display: none;
//   }
// }
// body.expand.portfolio { 
//   .page.portfolio {
//     display: block;
//   }
//   .page:not(.portfolio){
//     display: none;
//   }
// }
// body.expand.bio { 
//   .page.bio {
//     display: block;
//   }
//   .page:not(.bio){
//     display: none;
//   }
// }
// body.expand.contact { 
//   .page.contact {
//     display: block;
//   }
//   .page:not(.contact){
//     display: none;
//   }
// }