body.index {
  
  // ====================== 
  // header banner
  // ======================
/* @keyframes duration | timing-function | delay | 
   iteration-count | direction | fill-mode | play-state | name */

  header[role=banner] {
    display: flex;
    height: 13rem;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -1.3rem;
  }

  .headers { 
    align-items: center;
    display: flex;
    width: 37rem;
  }

  .headers div {
    margin-left: 1rem;
  }

  .logo {
    float: left;
    width: 8rem;
  }

  h1 {
    font-size: 5.8rem;
    margin-top: -1.3rem;
  }

  .job-title {
    font-size: 4rem;
  }

// ====================== 
// page and nav
// ======================  

  .page {
    display: inline-block;
    // margin-top: -5rem;
    overflow: hidden;
    // transform: scale(0.5);
    z-index: 1;
    width: calc(100vw/2);
  }

  .page .col {
    margin: 2rem 10%;
    width: 80%;
  }



}




